# Found @ https://console.neon.tech > Project > Dashboard > Connect > Connection String
DATABASE_URL="<neon postgres connection string>"

# Found @ https://console.cloud.google.com/apis/credentials?authuser=2&orgonly=true&project=barrlogger-509419
GOOGLE_ID="<Client ID>"
GOOGLE_SECRET="<Client secret>"

# Generate new with node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET="<hex secret>"
